<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Website</title>
    <link rel="stylesheet" href="styles/main.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Cedarville+Cursive&family=Libre+Baskerville:ital@0;1&family=Merriweather&family=Montserrat:wght@200&family=Poppins&family=Sacramento&display=swap" rel="stylesheet">
<body>