<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Website - Login</title>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Cedarville+Cursive&family=Libre+Baskerville:ital@0;1&family=Merriweather&family=Montserrat:wght@200&family=Poppins&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="/images/cross.jpg" height="30">
            <h1>ASHAJYOTI MULTISPECIALITY <br> HOSPITAL NANDURBAR</h1>
        </div>
        <div class="cred">
            <nav>
                <ul>
                    <li><div class="home"><a href="/">Home</a></div></li>
                    <li><div class="home"><a href="#">About us</a></div></li>
                    <li><div class="sign"><a href="/sign_up">SIGN UP</a></div></li>
                </ul>
            </nav>
        </div>
    </div>
    
    <div class="boy">
        <!-- Login form -->
        <form action="/login" method="POST">
            <div class="name2">
                <div class="name">
                    <input type="email" name="email" class="rounded-input" placeholder="Email">
                </div>
                <div class="name">
                    <input type="password" name="password" class="rounded-input" placeholder="Password">
                </div>
                <div class ="name">
                    <button type="submit" class="btn">Login</button>     
                </div>
               
            </div>
        </form>
    </div>
</body>
</html>
